@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* basic setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Karla', sans-serif;
    line-height: 1;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
    font-family: 'DM Serif Display', sans-serif;
}

p {
    padding-bottom: 2rem;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.btn {
    padding: 1rem 3.5rem;
}

/* header */

header {
    height: 95vh;
    min-width: 1440px;
    background-color: hsl(256, 26%, 20%);
    position: relative;
    z-index: 1;
}


.bg-intro {
    display: block;
    position: absolute;
    z-index: 0;
}

.bg-intro-right {
    top: 0;
    right: 0;
}

.bg-intro-left {
    top: 70%;
    left: 0;
}

/* header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: src(/images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    z-index: 20;
} */

#navbar {
    display: flex;
    position: relative;
    height: 10%;
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    justify-content: space-between;
    padding: 0 8%;
    align-items: center;
    z-index: 20;                    
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    padding-right: 3rem;
}

#navbar a {
    font-size: 1.6rem;
    font-weight: 400;
    color: hsl(273, 4%, 51%);
    text-transform: uppercase;
}

#navbar .active {
    border: 2px solid #000;
}

#navbar a:hover {
    color: #030303;
}

#navbar .active:hover {
    background-color: #030303;
    color: #fff;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.primary-heading::before {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    width: 20rem;
    margin-bottom: 6rem;
}

.primary-heading {
    font-size: 8rem;
    color: #fff;
    letter-spacing: 0.3rem;
}

.hero-text p {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.btn-primary {
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.6rem;
}

.btn-primary:hover {
    background-color: #fff;
    color: #030303;
}

.primary-img {
    position: absolute;
    top: 15%;
    left: 70rem;
    z-index: 100;
}

/* how we work section */

.how-we-work {
    padding-top: 25rem;
    max-width: 1440px;
    margin: 0px auto 0px auto;
}

.secondery-heading {
    font-size: 8rem;
    color: #030303;
    letter-spacing: 0.3rem;
    padding-left: 5rem;
}

.secondery-heading::before {
    content: "";
    display: block;
    border-bottom: 2px solid #0303034d;
    width: 20rem;
    margin-bottom: 6rem;
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2rem;
    padding-top: 10rem;
}

.item {
    text-align: center;
}

.item h3 {
    padding-top: 2rem;
    font-size: 2.5rem;
}

.item p {
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #030303af;
}

/* section find out */

.find-out {
    max-width: 1140px;
    margin: 15rem auto 0 auto;
}

.find-out-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25rem;
    background-color: hsl(256, 26%, 20%);
    position: relative;
    z-index: 20;
}

.bg-how-we-work {
    position: absolute;
    right: 0;
    display: block;
    z-index: -1;
}

.primary--heading {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 0.3rem;
    width: 40%;
    font-family: 'DM Serif Display';
}

/* footer */

footer {
    background-color: #f7f7f7;
    position: relative;
    margin-top: 15rem;
    z-index: 10;
    padding-bottom: 5rem;
}

.bg-footer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    position: relative;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

.social-icons a img:hover {
    fill: #030303;
}

.row::after {
    content: "";
    border-bottom: 2px solid #0303034d;
    position: absolute;
    width: 100%;
    top: 12rem;
    display: block;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-items .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.footer-items .item h3 {
    padding-top: 3rem;
    font-size: 1.6rem;
    color: #030303af;
}

.footer-items .item ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-items .item ul li {
    padding-bottom: 1rem;
}

.footer-items .item ul li a {
    color: #030303;
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-items .item ul li a:hover {
    border-bottom: 1px solid #030303;
}

 
.attribution { font-size: 1.6rem; text-align: center; padding-bottom: 5px; }
.attribution a { color: hsl(228, 45%, 44%); }